div.intro {
  @include outer-container;
  width: 700px;
  margin: 0 auto;
  text-align: center;

  h1 {
    font-family: inconsolata;
    color: $fox-blue;
  }
  p {
    font-family: inconsolata;
    color: $fox-blue;
    font-size: 20px;
  }

  .link {
    font-family: inconsolata;
    font-size: 20px;
    text-decoration: none;
    color: $steel-blue;
    &:hover {
      cursor: pointer;
      color: $fox-blue;
    }
  }
}
