.throwback-container {
  @include outer-container;
}

.throwback-name {
  @include span-columns(6);
  color: black;
  text-decoration: none;
  font-family: "Papyrus", cursive, sans-serif;
  font-size: 30px;

  .throwback-link {
    color: red;
    text-decoration: none;
    &:hover {
      color: red;
      text-decoration: none;
      text-shadow: 20px 10px 0px rgba(0, 0, 0, 0.4);
    }
  }
}

.throwback-img {
  @include span-columns(6);
}
