* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

div.intro {
  max-width: 68em;
  margin-left: auto;
  margin-right: auto;
  width: 700px;
  margin: 0 auto;
  text-align: center; }
  div.intro:after {
    content: "";
    display: table;
    clear: both; }
  div.intro h1 {
    font-family: inconsolata;
    color: #507284; }
  div.intro p {
    font-family: inconsolata;
    color: #507284;
    font-size: 20px; }
  div.intro .link {
    font-family: inconsolata;
    font-size: 20px;
    text-decoration: none;
    color: #88aec2; }
    div.intro .link:hover {
      cursor: pointer;
      color: #507284; }
