* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

.intro {
  max-width: 68em;
  margin-left: auto;
  margin-right: auto;
  width: 700px;
  margin: 0 auto;
  text-align: center; }
  .intro:after {
    content: "";
    display: table;
    clear: both; }
  .intro h1 {
    font-family: inconsolata;
    color: #507284; }
  .intro p {
    font-family: inconsolata;
    color: #507284;
    font-size: 20px; }
  .intro .link {
    font-family: inconsolata;
    font-size: 20px;
    text-decoration: none;
    color: #88aec2; }
    .intro .link:hover {
      cursor: pointer;
      color: #507284; }

.throwback-container {
  max-width: 68em;
  margin-left: auto;
  margin-right: auto; }
  .throwback-container:after {
    content: "";
    display: table;
    clear: both; }

.throwback-name {
  float: left;
  display: block;
  margin-right: 2.35765%;
  width: 48.82117%;
  color: black;
  text-decoration: none;
  font-family: "Papyrus", cursive, sans-serif;
  font-size: 30px; }
  .throwback-name:last-child {
    margin-right: 0; }
  .throwback-name .throwback-link {
    color: red;
    text-decoration: none; }
    .throwback-name .throwback-link:hover {
      color: red;
      text-decoration: none;
      text-shadow: 20px 10px 0px rgba(0, 0, 0, 0.4); }

.throwback-img {
  float: left;
  display: block;
  margin-right: 2.35765%;
  width: 48.82117%; }
  .throwback-img:last-child {
    margin-right: 0; }
